* {
	font-size: 16px;
}

.tab-change-container {
  margin-top: 10px;
	display: flex;
	justify-content: center;
}

.tab-change {
	width: 40%;
	display: flex;
	flex-flow: row nowrap;
  justify-content: space-between;
}

.tab-change-items-active {
	background: #d13732;
	border-radius: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: inline-flex;
}

.tab-change-items {
	border-radius: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: inline-flex;
}

.tab-change-text-active {
	text-align: center;
	color: white;
	font-size: 22px;
	font-family: Inter;
	font-weight: 600;
	word-wrap: break-word;
  padding: 6px 12px;
}

.tab-change-text {
	text-align: center;
	color: black;
	font-size: 22px;
	font-family: Inter;
	font-weight: 600;
	word-wrap: break-word;
  padding: 6px 12px;
}

.blog-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	border-radius: 16px;
	border: 1px solid rgba(0, 0, 0, 0);
}

.blog-items {
	width: 300px;
	background: white;
	box-shadow: 6.019999980926514px 6.019999980926514px 12.039999961853027px
		3.009999990463257px rgba(0, 0, 0, 0.25);
	border-radius: 9.03px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 5px;
}

.blog-link-clicked {
	text-decoration: none;
}

.blog-img {
	margin-left: 15px;
	margin-top: 10px;
  border-radius: 9.03px;
	width: 270px;
	height: 150px;
}

.blog-label {
	margin-left: 15px;
	text-transform: capitalize;
	color: rgba(209, 55, 50, 1);
	font-weight: 500;
}

.blog-title {
	margin-left: 15px;
	font-weight: 600;
	width: 270.9px;
	color: black;
	font-size: 24.08px;
	font-family: Inter;
	font-weight: 600;
	word-wrap: break-word;
}

.blog-brief {
	margin-left: 15px;
	width: 270.9px;
	color: black;
	font-size: 12.04px;
	font-family: Inter;
	font-weight: 400;
	word-wrap: break-word;
}

.blog-post-date {
	margin-left: 15px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
}

.blog-author {
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-flow: row nowrap;
}

.blog-author img {
	border-radius: 50%;
	margin-right: 10px;
	width: 33.11px;
	height: 33.11px;
	background: #d9d9d9;
}

.blog-author div {
	text-align: center;
	align-self: center;
	color: black;
	font-size: 12.04px;
	font-family: Inter;
	font-weight: 600;
	word-wrap: break-word;
}
