/* Comment box styling */

.comment-box {
	width: 85%;
	display: flex;
	flex-direction: column;
	border: 1px solid #d13732;
	padding: 15px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #fff; /* Add a background color for readability */
	border-radius: 5px; /* Add some border radius for a modern look */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

.comment-box-container {
  display: flex;
  flex-flow: row nowrap;
	/* align-items: center; */
}

#user-avatar-cmt {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.form-container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}
/* Star rating styling */
.rating {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.rating input {
	display: none;
}

.rating label {
	font-size: 25px;
	color: #d13732;
	cursor: pointer;
	transition: color 0.2s ease-in-out; /* Simplify the transition property */
	margin: 0 3px; /* Add some spacing between stars */
}

#comment {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #d13732;
  border-radius: 5px;
  resize: none; /* Remove the resize handle on the textarea */
}

.button-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}

.submit-btn {
	background-color: #d13732;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
	cursor: pointer;
}

.cancel-btn {
	background-color: #fff;
	color: #d13732;
	padding: 10px 20px;
	border: 1px solid #d13732;
	border-radius: 5px;
	cursor: pointer;

}

/* Responsive styling */
@media (max-width: 768px) {
	.comment-box {
		padding: 15px; /* Slightly increase padding for better mobile appearance */
	}

	.rating label {
		font-size: 24px; /* Reduce font size for smaller screens */
	}
}

/* Base styles for user comment */
.user-comment {
	width: 85%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Comment header */
.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-user {
  display: flex;
  align-items: center;
}

.comment-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.cmt-user-date {
  display: flex;
  flex-direction: column;
}

.comment-username {
	font-weight: bold;
	font-size: 1.2em;
}

.comment-date {
  color: #666;
}

.comment-star {
  color: #d13732;
  font-size: 1.5em;
	align-self: flex-start;
}

/* Comment content */
.comment-content {
  margin-top: 10px;
}

.comment-content p {
  font-size: 1.1em;
  margin: 0;
}

/* Responsive Styles */

/* For even smaller screens, decrease the font size */
@media (max-width: 576px) {
  .comment-username {
    font-size: 1em;
  }

  .comment-date {
    font-size: 0.9em;
  }

  .comment-star {
    font-size: 1em;
  }

  .comment-content p {
    font-size: 1em;
  }
}