*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  box-sizing: border-box;
}

section{
  padding: 3rem 0 2rem;
}
/* Post content*/
.course-header{
  width: 100%;
  height: 480px;
  background-size: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}
.course-container{
  /* max-width: 800px; */
  margin:auto;
  width: 85%;
}
.header-content{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 4rem !important;
}
.header-title{
  width: 70%;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1rem;
  color: white;
}
.header-img{
  width: auto;
  height: 300px;
  object-fit: cover;
  border: 10px solid grey;
}

.back-link {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 5px;
}

.header-description {
  color: white;
  width: 60%;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 30%;
  margin-top: 1.5rem;
}
.course-button {
  width: 125px;
	border-radius: 5px;
  text-align: center;
	font-size: 16px;
	font-family: Inter;
	font-weight: 500;
	word-wrap: break-word;
  padding: 6px 12px;
  cursor: pointer;
  box-shadow: 6.019999980926514px 6.019999980926514px 12.039999961853027px
		3.009999990463257px rgba(0, 0, 0, 0.25);
}

.course-enroll {
  background: #d13732;
  color: white;
}

.course-readmore {
  color: white;
  border: 2px solid white;
}

.course-info {
  margin: auto;
  margin-top: -80px;
  width: 85%;
  background-color: white;
  height: 160px;
  border-radius: 16px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  display:flex;
  flex-direction: row;
}

.course-info-item {
  margin: auto;
  height: 80%;
  width: 25%;
  display: flex;
  flex-direction: column;
  border-right: 1.5px solid #d7d7d7;
}

.course-info-item:last-child {
  border-right: none;
}

.info-detail {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-key{
  font-size: 1.2rem;
  font-weight: 300;
}

.info-value{
  font-size: 1.2rem;
  font-weight: 600;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.post-content {
  margin-top: 2rem;
}
.post-text{
  font-size: 1rem;
  line-height: 1.7rem;
  margin: 1rem 0;
  text-align: justify;
}

/* responsive */
@media (max-width: 700px){
section {
  padding: 2rem 0;
}
.header-content{
  margin-top: 3rem !important;
}
.header-title{
  font-size: 2rem;
}
.header-img{
  height: 300px;
}
.post-header{
  height: 435px;
}
.post-content{
  margin-top: 6rem !important;
}
}