.register_body {
  font-family: 'Inter';
  font-size: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  background-image: linear-gradient(to right, rgb(132, 25, 21), rgba(209, 55, 50, 0.75));
}

#registerForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 500px;
  padding: 1rem;
  border: black solid 1px;
  border-radius: 1rem;
}

#registerForm h1 {
  color: rgba(209, 55, 50, 1);
  font-size: 4em;
  font-weight: bolder;
  height: 20%;
  text-align: center;
}

#registerForm input,
#registerForm button {
  font-size: 1.75em;
  padding: .5em;
  margin: .5em 1em;
  text-align: center;
  border-radius: .5rem;
}

#registerForm label {
  font-size: 2em;
  margin: .5em 1em;
  margin-bottom: 0;
  text-align: left;

}

#registerForm button {
  background-color: rgba(209, 55, 50, 1);
  color: white;
  font-weight: bold;
}

#registerForm button:hover {
  background-color: white;
  color: rgba(209, 55, 50, 1);
  border:rgba(209, 55, 50, 1) solid 2px;
  font-weight: bolder;
}

.change_tab{
  font-size: 1rem;
}

.change_tab p{
  width: fit-content;
  margin: 0 auto;
}

.change_tab a{
  color: rgba(209, 55, 50, 1);
  text-decoration: none;
}

.change_tab a:hover{
  color: rgba(209, 55, 50, 1);
  text-decoration: none;
  font-weight: bolder;
}

.remember label{
  font-size: 1rem;
}

#remember{
  margin: 2px !important;
  margin-left: 17px !important;
}